<h3>{{name}}</h3>
<div>
    <div>
        <h2>Capital: <span>{{capital}}</span></h2>
        <h2>Population: <span>{{population}}</span></h2>
        <h2>Languages:</h2>
        <ul>
            {{#each this}}
            <li>
                <h1>{{languages}}</h1>
            </li>
            {{/each}}
        </ul>
    </div>
    <div>
        <img src={{flag}} alt="Flag of the capital">
    </div>
</div>