{{#each this}}
<div class="country-container">
    <h1>{{name}}</h1>
    <div>
        <div class="country-description">
            <h2>Capital: <span>{{capital}}</span></h2>
            <h2>Population: <span>{{population}}</span></h2>
            <h2>Languages:</h2>
            <ul>
                {{#each languages}}
                <li>
                    <h3>{{name}}</h3>
                    {{!-- <h1>{{...languages}}</h1> --}}
                </li>
                {{/each}}
            </ul>
        </div>
        <div>
            <img src={{flag}} alt="Flag of the capital">
        </div>
    </div>
</div>
{{/each}}